body {
  background-image: url('./images/brickwall_@2X.png');
  background-repeat: repeat;
}

.App {
  text-align: center;
}

.instructions {
  margin-left: 75px;
  margin-right: 75px;
  text-align: left;
  margin-top: 100px;
}

.home-header {
  padding-top: 50px;
  font-family: 'Permanent Marker', cursive;
  font-size: 55px;
  color: rgb(46, 46, 46);
}

.image-card {
  box-shadow: 10px 10px 5px grey;
}

.home-button {
  margin-bottom: 0;
  padding-bottom: 0;
}

.page-header {
  font-family: 'Permanent Marker', cursive;
  font-size: 45px;
}

.radio-label {
  font-family: 'Permanent Marker', cursive;
  font-size: 50px;
}

.leaderboard-title {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 40px;
}

.one {
  background-color: rgb(243, 182, 121);
}

#two {
  background-color: rgb(185, 250, 188);
}

.game-text {
  font-family: 'Covered By Your Grace', cursive;
  font-size: 50px;
}

#three {
  background-color: rgb(172, 240, 252);
}

#fight {
  position: fixed;
  font-family: 'Permanent Marker', cursive;
  font-size: 250px;
  top: 35%;
  left: 15%;
  z-index: 1;
}

#button {
  margin-top: 20%;
}

#grid {
  margin-left: 20px;
  margin-right: 20px;
}
